.result-text-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.result-text-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.result-text-exit {
  opacity: 1;
  transform: translateY(0);
}
.result-text-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}